.place__image {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
  .place__image {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

@media screen and (max-width: 425px) {}

@media screen and (max-width: 320px) {}