.footer__link-element {
  margin: 0 18px 0 0;
}

.footer__link-element:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .footer__link-element {
    margin: 0 0 32px 0;
  }
  .footer__link-element:last-child {
    margin-bottom: 0;
  }
}