.cover__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1184px;
  min-height: 740px;
  background-image: url(../../../images/cover/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  z-index: 1;
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  .cover__container {
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__container {
    max-width: 100%;
    min-height: 480px;
  }
}

@media screen and (max-width: 768px) {
  .cover__container {
    max-width: 100%;
    min-height: 200px;
  }
}

@media screen and (max-width: 425px) {}

@media screen and (max-width: 320px) {}