.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: white;
  text-decoration: none;
  margin: 0;
  transition: opacity 0.7s ease-out;
}

.footer__link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
  }
}