.lead__container {
  max-width: 984px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1280px) {
  .lead__container {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1024px) {
  .lead__container {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 425px) {}

@media screen and (max-width: 320px) {}