.place__website {
  align-self: end;
  justify-self: start;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .place__website {
    justify-self: center;
    width: calc(100% - 32px);
    grid-column: 1/2;
    grid-row: 2/3;
  }
}